# Ignore the directory containing the input Excel workbooks
workbooks/
orkney_spreadsheets/
orkney_spreadsheets_data/
orkney_spreadsheets_analysis/
ignore/

# Python cache files
__pycache__/
*.pyc
*.pyo